@media print {
  @page {
    margin: 0.15in 0.15in 0.15in 0.15in !important;
    orientation: landscape;
  }
  @page:blank {
    display: none;
  }
  div {
    page-break-inside: avoid;
    break-inside: avoid;
    -webkit-break-inside: avoid;
  }
  header, .no-print {
    display: none;
  }
  body {
    -webkit-print-color-adjust: exact !important;
  }
  .pale-gray-bg {
    background: white;
  }
}